<!-- Content Heading  -->
<br>
<br>
<br>
<br>
<br>
<br>
<% if (title) { %>
<h2><%= title %></h2>
<% } else {res.redirect('/')} %>

<% messages() %>

<br>
<br>
<br>
<br>
<br>
<br>
<mgt>
    <br>
    <br>
    <ul>
        <li><a href="/mgt/adclass" title="Edit Account Information"> Edit Account Information </a></li>
    </ul>
</mgt>