<!-- Content Heading  -->
<br>
<bt>
    <a href="/inv/iedit" title="Edit Account"> Edit Acccount </a>
</bt>

<h4><%- messages() %></h4>

<br>
<br>
<br>
<br>
<br>
<br>
<% if (title) { %>
<h2><%= title %></h2>
<% } else {res.redirect('/')} %>
<mgt>
    <ul>
        <li><a href="/account/aedit" title="Edit Account Information"> Edit Account </a></li>
    </ul>
</mgt>