

<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page"> QAR24 </a>
  </span>
  <div id="tools">
    <select class="account" onchange="window.location.href=this.value;">
      <option value="" selected disabled hidden>Account</option>
      <option value="/account/login/" title="Click to Login">Login</option>
      <option value="/inv/logout" title="Click to Log Out">LogOut</option>
      <option value="/inv/admin" title="Login As Admin">Admin</option>
    </select>
  </ul>
  </div>
</header>