
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Qar24, a link to the best autosales place in Abuja">
    <meta name="author" content="Nnachi, Joseph Otu">
    <meta property="og:url"                content="https://qar24.onrender.com" />
    <meta property="og:title"              content="Qar24: Automobile Hiring" />
    <meta property="og:description"        content="Qar24: Leasing Automobiles Affordably!" />
    <meta property="og:image"              content="https://narches.github.io/qar24/public/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link href="/public/images/favicon.ico" rel="icon">

    <title>  Qar24 | <%- title %> </title>
</head>

