
    <h6> <%- messages() %></h6>
    <div class="welcome">
        <h1> Welcome to Qar24 </h1>
    </div>
     <h6> <%- messages() %></h6>
    <maine>
        <div class="hero">
            <picture>
                <source srcset="images/vehicles/delorean.jpg" media="(max-media: 500px)">
                <source srcset="images/vehicles/delorean.jpg" media="(max-width: 1000px)">
                <img src="images/vehicles/delorean.jpg" alt="table setting" width="1500px" height="750px">
            </picture>
        </div>
    </maine>
    <div class="hero-label">
        <h4><b>DMC Delorean</b></h4>
        <p>3 Cup holders <br>
            Superman Doors<br>
            Fuzzy Dice!<br>
        </p>
        <span class="home-btn"><a href="rentals.html"> Own Today </a> </span>

    </div>
    <main class="home-grid">
        <section class="list-card">
            <h3> DMC Delorean Reviewas </h3>
                    <br>
                        <ul>       
                            <br>             
                            <li>"So fast it's almost like traveling in time." (4/5)</li>
                            <br>
                            <li>"Cooolest ride on the road." (4/5)</li>
                            <br>
                            <li>"I'm feeling McFly!" (5/5) </li>
                            <br>
                            <li>"The most futuristic ride of our day." (4.5/5) </li>
                            <br>
                            <li>"80's livin and lovin it!" (5/5)</li>
                            <br>
                        </ul>
                        <br>
        </section>
        <section class="rivers-card">
            <img class="card-img" src="images/upgrades/flux-cap.png " alt="flux-cap">
            <br>
            <a href="#"><i> Flux Capacity </i></a>
        </section>
        <br>
        <section class="camping-card">
            <img class="card-img" src="images/upgrades/flame.jpg" alt="flame ">
            <br>
            <a href="#"><i>Flame Decals</i></a>
        </section>
        <br>
        <section class="rapids-card">
            <img class="card-img" src="images/upgrades/bumper_sticker.jpg" alt="bumper-stickers">
            <br>
            <a href="#"><i> Bumper Stickers </i></a>
        </section>
        <br>
        <section class="rocki-card">
            <img class="card-img" src="images/upgrades/hub-cap.jpg" alt="hub-cap ">
            <br>
            <a href="#"><i> Hub Caps </i></a>
        </section>
    </main>
    <br>
    <br>



