
<br>
<bt>
    <a href="/inv/iedit" title="Edit Account"> Edit Acccount </a>
</bt>

<h4><%- messages() %></h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% if (title) { %>
    <h2><%= title %></h2>
  <% } else {res.redirect('/')} %>

<mgt>
    <ul>
        <br>
        <li><a href="/inv/vm" title="Manage Inventory"> Manage Inventory </a></li>
        <br>
    </ul>
    <br>
    <br>
    <br>
</mgt>

