<!-- Content Heading  -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% if (title) { %>
<h2><%= title %></h2>
<% } else {res.redirect('/')} %>
<mgt>
    <ul>
        <li><a href="/inv/adclass" title="Add New Classification"> Add New Classificatiion </a></li>
        <br>
        <br>
        <li><a href="/inv/adve" title="Add New Vehicle"> Add New Vehicle </a></li>
    </ul>
</mgt>